body{
    background: url(OIP.jpg);
    background-repeat: no-repeat;
    }
.wrapper{
    background: rgb(153,81,81);
    width: 500px;
    height:500px;
    border: 2px solid black;
    padding: 10px;
    margin: auto;


/*zemāk paraugs vertik. un horizont. centrēšanai*/
    /*position: absolute;
    top:50%; margin-top:-250px;
    left: 50%; margin-left:-250px;*/

    /*bonus dekorācijas*/
    /*font-family: Arial, Helvetica, sans-serif;*/ /*fonti*/
    /*border-radius: 10px;*/ /*apaļi stūri*/
    /*box-shadow: 3px 3px 15px#5E0000;*/ /*ēna*/
    /*opacity: 0.5;*/ /*caurspīdīgums*/

}
.chataZinas{
    background:whitesmoke;
    height:300px;
    color: rgb(48, 40, 40);
    padding: 5px;
    overflow-y: scroll;
}